{% extends 'base.html.twig' %}

{% block title %}
    Mise à jour Compte
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row m-y-2">
            <div class="col-lg-8 push-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link active">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link ">Profile</a>
                    </li>


                </ul>
                <div class="tab-content p-b-3">
                    <div class="tab-pane " id="profile">
                        <br/>
                        <h3 class="m-y-2">Profile</h3>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.email }}</p>
                                    </div>
                                </div>


                                {% if  app.user.nom  %}

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Name:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.nom }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Prénom:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.prenom }}m</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>CIN:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.cin }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Date de naissance:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.datenassance|date("d/m/Y") }}</p>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Tél:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.tel}}</p>
                                    </div>
                                </div>



                                {% if app.user.nomste   %}

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Nom de Société:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <p>{{ app.user.nomste}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Gérant de Société:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <p>{{ app.user.gerantste}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Activité de Société:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <p>{{ app.user.activiteste}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Matricule Fiscale:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <p>{{ app.user.mfste}}</p>
                                        </div>
                                    </div>

                                {% endif %}



                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Adresse:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.adresse}}</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane " id="messages">

                    </div>
                    <div class="tab-pane active" id="edit">
                        <br/>
                        <h3 class="m-y-2">Modifier mot de passe</h3>

                        <form class="form-horizontal" id="password" method="POST" novalidate action="{{ path('password_updateaction') }}" >



                            <fieldset>
                               {# <legend>Changer votre mot de passe</legend>#}

                                {% for message in app.flashes('notice') %}
                                    <div class="alert alert-warning">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                <div >
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_row(form.oldPassword,{'attr':{'class':'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_row(form.Password.first,{'attr':{'class':'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_row(form.Password.second,{'attr':{'class':'form-control'}}) }}
                                        </div>

                                    </div>
                                </div>
                                {{ form_rest(form) }}



                                <button type="submit" name="subvalider" class="btn lock btn-outline-primary"></span> Mettre à jour</button>

                            </fieldset>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 pull-lg-8 text-xs-center">



            </div>
        </div>
    </div>
    <hr>


{% endblock %}

{% block javascripts %}


    <script src="../../plugins/jquery/jquery.validate.js"></script>

    <script type="text/javascript">
        /*    $.validator.setDefaults( {
                submitHandler: function () {
                    alert( "submitted!" );
                }
            } );*/


        $( document ).ready( function () {
            $( "#password" ).validate( {


                rules: {

                    'reset_password[oldPassword]': {
                        required: true,

                    },
                    'reset_password[Password][first]': {
                        required: true,
                        minlength: 8,
                        maxlength: 50,
                    },
                    'reset_password[Password][second]': {
                        required: true,
                        minlength: 8,
                        maxlength: 50,
                        equalTo: "#reset_password_Password_first"
                    },


                },
                messages: {
                    'reset_password[oldPassword]': {
                        required: "Veuillez renseigner l'ancien mot de passe."

                    },

                    'reset_password[Password][first]': {
                        required: "Veuillez renseigner le mot de passe.",
                        minlength: "Champ au moins 8 caractères.",
                        maxlength: "Champ  au plus 50 caractères.",
                    },

                    'reset_password[Password][second]': {
                        required: "Veuillez confirmer le mot de passe.",
                        minlength: "Champ au moins 8 caractères.",
                        maxlength: "Champ  au plus 50 caractères.",
                        equalTo: "Entrez le même mot de passe"
                    },


                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                    // Add the `invalid-feedback` class to the error element
                    error.addClass( "invalid-feedback" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.next( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
                }
            } );

        } );
    </script>


{% endblock %}