{% extends 'base.html.twig' %}

{% block title %}
    Mise à jour Compte
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row m-y-2">
            <div class="col-lg-8 push-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link active">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link ">Profile</a>
                    </li>


                </ul>
                <div class="tab-content p-b-3">
                    <div class="tab-pane " id="profile">
                        <br/>
                        <h3 class="m-y-2">User Profile</h3>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.email }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Name:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>K{{ app.user.nom }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Prénom:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.prenom }}m</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>CIN:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.cin }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Date de naissance:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.datenassance|date("d/m/Y") }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Tél:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.tel}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Adresse:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ app.user.adresse}}</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane " id="messages">

                    </div>
                    <div class="tab-pane active" id="edit">
                        <br/>
                        <h3 class="m-y-2">Modifier mot de passe</h3>

                        <form class="form-horizontal" method="POST" action="{{ path('password_updateaction') }}" >



                            <fieldset>
                               {# <legend>Changer votre mot de passe</legend>#}

                                {% for message in app.flashes('notice') %}
                                    <div class="alert alert-warning">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                <div >
                                    {{ form_row(form.oldPassword,{'attr':{'class':'form-control'}}) }}
                                    {{ form_row(form.Password.first,{'attr':{'class':'form-control'}}) }}
                                    {{ form_row(form.Password.second,{'attr':{'class':'form-control'}}) }}
                                </div>
                                {{ form_rest(form) }}



                                <button type="submit" name="subvalider" class="btn lock btn-outline-primary"></span> Mettre à jour</button>

                            </fieldset>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 pull-lg-8 text-xs-center">



            </div>
        </div>
    </div>
    <hr>





















{#    <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{ app.user.email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                    </div>
                    <div class="col-md-6">
                        <p>K{{ app.user.nom }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Prénom</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{ app.user.prenom }}m</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>CIN</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{ app.user.cin }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Date de naissance</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{ app.user.datenassance|date("d/m/Y") }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Tél</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{ app.user.tel}}</p>
                    </div>
                </div>

            </div>#}
           {# <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="col-md-6">
                        <label>Experience</label>
                    </div>
                    <div class="col-md-6">
                        <p>Expert</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Hourly Rate</label>
                    </div>
                    <div class="col-md-6">
                        <p>10$/hr</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Total Projects</label>
                    </div>
                    <div class="col-md-6">
                        <p>230</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>English Level</label>
                    </div>
                    <div class="col-md-6">
                        <p>Expert</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Availability</label>
                    </div>
                    <div class="col-md-6">
                        <p>6 months</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Your Bio</label><br/>
                        <p>Your detail description</p>
                    </div>
                </div>
            </div>#}
        </div>
    </div>







  {#  <form class="form-horizontal" method="POST" action="{{ path('password_updateaction') }}" >



        <fieldset>
            <legend>Changer votre mot de passe</legend>

            {% for message in app.flashes('notice') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}

            <div >
                {{ form_row(form.oldPassword,{'attr':{'class':'form-control'}}) }}
                {{ form_row(form.Password.first,{'attr':{'class':'form-control'}}) }}
                {{ form_row(form.Password.second,{'attr':{'class':'form-control'}}) }}
            </div>
            {{ form_rest(form) }}



                    <button type="submit" name="subvalider" class="btn btn-primary"></span> Mettre à jour</button>

        </fieldset>
#}

{% endblock %}