{% extends 'base.html.twig' %}

        {% block title %}Repas{% endblock %}

        {% block body %}

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- COLOR PALETTE -->
                    <div class="card card-default color-palette-box bgpowderblue  ">
                        <div class="card-header border  bgdarkseagreen">
                            <h3 class="card-title">
                                <i class="fas fa-tag"></i>
                                Gestion des magasins
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-widget="maximize"><i
                                            class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body border ">
                            <!-- Main content -->
                            <section class="content">
                                <div class="container-fluid">
                                    <div class="card  card-outline">
                                        <div class="card-header border  bglightblue">
                                            <h3 class="card-title">
                                                <i class="fas fa-list"></i>
                                                Détail magasin

                                            </h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-widget="maximize"><i
                                                            class="fas fa-expand"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-widget="remove">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div> <!-- /.card-body -->
                                        <div class="card-body">


                                            {{ form_start(form, {'attr': {'novalidate': 'novalidate','class' : 'form-group form-horizontal', 'id':'magasin' }}) }}


                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_row(form.designation, {'attr' : {'class' : 'form-control','autocomplete': 'off'}}) }}
                                                    </div>
                                                </div>

                                                <div class="col-md-4">

                                                    <div class="form-group">
                                                        {{ form_row(form.adresse, {'attr' : {'class' : 'form-control','autocomplete': 'off'}}) }}
                                                    </div>
                                                </div>


                                                <div class="col-md-4">

                                                    <div class="form-group">
                                                        {{ form_row(form.region) }}
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-1">

                                                <div class="form-group">
                                                    <button type="submit" class="btn  btn-outline-success "><i
                                                                class="fa fa-save"></i> Enregistrer
                                                    </button>
                                                </div>


                                            </div>
                                            {{ form_end(form) }}


                                        </div><!-- /.card-body -->
                                    </div>
                                </div><!-- /.container-fluid -->
                            </section>
                            <!-- /.content -->

                            <!-- Main content -->
                            <section class="content">
                                <div class="container-fluid">
                                    <div class="card card-outline  ">
                                        <div class="card-header border-0 bgmoccasin">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Liste des magasins

                                            </h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-widget="maximize"><i
                                                            class="fas fa-expand"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-widget="remove">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div> <!-- /.card-body -->
                                        <div class="card-body">

                                            {% if magasins %}

                                            <div class="table-responsive mx-auto col-10  " id="magasins">


                                                <table id="exemple4"
                                                       class="table table-bordered table-hover table-striped display ">
                                                    <thead class="table-info">
                                                    <tr class="text-dark">

                                                        <th>Magasin</th>
                                                        <th>Region</th>
                                                        <th>Adresse</th>

                                                        <th class="row justify-content-center align-items-center">
                                                            Action
                                                        </th>

                                                    </tr>

                                                    </thead>
                                                    <tbody>
                                                    {% for magasin in magasins %}

                                                        <tr>
                                                            <td>{{ magasin.designation }}</td>

                                                            <td>{{ magasin.region.designation }}</td>
                                                            <td>{{ magasin.adresse }}</td>
                                                            <td class="row justify-content-center align-items-center">

                                                                <a class=" btn btn-default btn-sm px-2  text-blue"
                                                                   href={{ path('magasin', {'action':1| encode, 'id': (magasin.id)| encode}) }}" data-toggle="
                                                                   tooltip"
                                                                data-placement="top" title="Modifier">
                                                                <i class="fas fa-pencil-alt"></i>
                                                                </a>

                                                                <form method="post" style="display: inline-block "
                                                                      action="{{ path('magasin', {'action':2| encode, 'id': (magasin.id)| encode}) }}"
                                                                      onsubmit="return confirm('Voulez-vous vraiment supprimer ?')">
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                    <input type="hidden" name="_token"
                                                                           value="{{ csrf_token('delete' ~ magasin.id) }}">
                                                                    <button data-toggle="tooltip" data-placement="top"
                                                                            title="Supprimer"
                                                                            class="btn btn-default btn-sm px-2 text-blue">
                                                                        <i class="fas fa-trash mt-0"></i></button>

                                                                </form>


                                                            </td>

                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr id="filters">
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>

                                                    </tfoot>
                                                </table>

                                                {% else %}
                                                    <div class="callout callout-info">
                                                        <h5><i class="fas fa-info"></i> Note:</h5>
                                                        Pas d'enregistrement.
                                                    </div>
                                                {% endif %}
                                            </div>


                                        </div><!-- /.card-body -->
                                    </div>
                                </div><!-- /.container-fluid -->
                            </section>
                            <!-- /.content -->

                        </div>


                    </div>
                    <!-- /.card-body -->
                </div>
            </section>





        {% endblock %}


        {% block javascripts %}


            <script src="../../plugins/jquery/jquery.validate.js"></script>

            <script type="text/javascript">
                /*    $.validator.setDefaults( {
                        submitHandler: function () {
                            alert( "submitted!" );
                        }
                    } );*/


                $(document).ready(function () {
                    $("#magasin").validate({


                        rules: {

                            'magasin[designation]': {
                                required: true,
                                maxlength: 50,
                                minlength: 3,


                            },

                            'magasin[adresse]': {
                                required: true,
                                maxlength: 50,
                                minlength: 5,


                            },

                            'magasin[region]': {
                                required: true,

                            },


                        },
                        messages: {
                            'magasin[designation]': {
                                required: "Veuillez renseigner la désignation de magasin .",
                                minlength: "Champ au moins 3 caractères.",
                                maxlength: "Champ  au plus 50 caractères.",

                            },


                            'magasin[adresse]': {
                                required: "Veuillez renseigner l\'adresse magasin .",
                                minlength: "Champ au moins 5 caractères.",
                                maxlength: "Champ  au plus 50 caractères.",
                            },
                            'magasin[region]': {
                                required: "Veuillez renseigner la région de magasin .",
                            },
                        },
                        errorElement: "em",
                        errorPlacement: function (error, element) {
                            // Add the `invalid-feedback` class to the error element
                            error.addClass("invalid-feedback");

                            if (element.prop("type") === "checkbox") {
                                error.insertAfter(element.next("label"));
                            } else {
                                error.insertAfter(element);
                            }
                        },
                        highlight: function (element, errorClass, validClass) {
                            $(element).addClass("is-invalid").removeClass("is-valid");
                        },
                        unhighlight: function (element, errorClass, validClass) {
                            $(element).addClass("is-valid").removeClass("is-invalid");
                        }
                    });

                });
            </script>


        {% endblock %}







