{% extends 'base.html.twig' %}

{% macro niceForm(form) %}
    <div class="row">
        <div class="col-md-6">

            {{ form_row(form.article, {'attr' : {'class' : 'form-control select2','style':'width: 100%;'}}) }}

        </div>
        <div class="col-md-6">

            {{ form_row(form.qtecommande) }}
        </div>

    </div>
{% endmacro niceForm %}
{% import _self as formMacros %}



{% block body %}
  {#  <div class="row">
        <div class="col-lg-12">
            {{ form_start(form) }}
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-list"></i>
                        Gestion des Commandes
                    </h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="maximize"><i class="fas fa-expand"></i>
                        </button>
                    </div>
                </div>

                <div class="card card-info card-outline">
                    <div class="card-header">

                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                Commande
                            </h3>
                        </div>


       #}{# <div class="form-group   ">

                            <div class="my-custom-class-for-errors">
                                {{ form_errors(form) }}
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.magasin) }}

                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        {{ form_row(form.anneeScolaire) }}
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>


                <div class="card card-info card-outline">
                    <div class="card-header">

                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                Détail Commande
                            </h3>
                        </div>
                        <br>


                        <div class="col-sm-8 col-sm-offset-2" id="exp_list" data-prototype="{{ form_widget(form.lingecommandes.vars.prototype)|e('html_attr') }}">
                            {% for row in form.lingecommandes %}
                                <div class="panel panel-warning" >


                                    <div class="panel-body border card card-primary col-12 mb-3">
                                        {{ form_row(row.article) }}
                                        {{ form_row(row.qtecommande) }}

                                    </div>

                                </div >

                            {% endfor %}
                        </div>
                        {{ form_end(form) }}


                        <a href="{{ path('mescommande')}}"  class="btn  block btn-outline-info  "><i class="fa fa-undo"></i> Vers Liste</a>
                    </div>
                </div>



            </div>
        </div>
    </div>




#}




<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- COLOR PALETTE -->
      
        {{ form_start(form, {'attr': {'novalidate': 'novalidate','class' : 'form-group form-horizontal' , 'id' : 'multipleArticle'}}) }}


        <div class="card card-default color-palette-box bgpowderblue ">
            <div class="card-header border  bgdarkseagreen">
                <h3 class="card-title">
                    <i class="fas fa-tag"></i>
                    Gestion des Commandes
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="maximize"><i class="fas fa-expand"></i>
                    </button>
                </div>
            </div>


            <div class="card-body">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="card   card-outline">
                            <div class="card-header border  bglightblue">
                                <h3 class="card-title">
                                    <i class="fas fa-list"></i>
                                    Commande

                                </h3>
                            </div> <!-- /.card-body -->
                            <div class="card-body">



                                <div class="my-custom-class-for-errors">
                                    {{ form_errors(form) }}
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <strong>La Référence de la commande </strong> <br>
                                            <b class="text-blue">Ref{{ commande.refCommande }}CM{{ commande.anneeScolaire.designation }}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{ form_row(form.magasin, {'label' : 'Magasin', 'attr' : {'class' : 'form-control select2','style':'width: 100%;'}}) }}
                                        </div>
                                    </div>

                                    <div class="col-md-3">

                                        <div class="form-group">
                                            {{ form_row(form.anneeScolaire, {'label' : 'Année Scolaire', 'attr' : {'class' : 'form-control select2','style':'width: 100%;'}}) }}
                                        </div>
                                    </div>
                                </div>


                            </div><!-- /.card-body -->
                        </div>
                    </div><!-- /.container-fluid -->
                </section>
                <!-- /.content -->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="card card-outline  ">
                            <div class="card-header border-0 bgmoccasin">
                                <h3 class="card-title">
                                    <i class="fas fa-edit"></i>
                                    Détail Commande

                                </h3>
                            </div> <!-- /.card-body -->
                            <div class="card-body">




                                <div class="col-sm-10 col-sm-offset-2" id="exp_list" data-prototype="{{ formMacros.niceForm(form.lingecommandes.vars.prototype)|e('html_attr') }}">
                                    {% for rows in form.lingecommandes %}
                                        <div class=" panel card card border border-info bgmoccasin">
                                            <div class=" card-header card   bgdarkseagreen"><i
                                                        class="fas fa-cart-arrow-down"></i>
                                            </div>
                                            <div class="  card border p-1 ">

                                                {{ formMacros.niceForm(rows) }}

                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                                {{ form_end(form) }}
                                <div><br></div>

                                <a href="{{ path('mescommande')}}"  class="btn  block btn-outline-info  "><i class="fa fa-undo"></i> Vers Liste</a>



                                    </div><!-- /.card-body -->
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>
                        <!-- /.content -->

                    </div>

            </div>
            <!-- /.card-body -->
        </div>
    </section>





{% endblock %}


{% block javascripts %}


    <script src="../../plugins/jquery/jquery.validate.js"></script>

    <script type="text/javascript">
        /*    $.validator.setDefaults( {
                submitHandler: function () {
                    alert( "submitted!" );
                }
            } );*/


        $( document ).ready( function () {
            $( "#multipleArticle" ).validate( {

                lang:'fr',
                rules: {

                    'categorie[nom_cat]': {
                        required: true,
                        maxlength: 50,
                        minlength: 5
                    },


                },
                messages: {
                    'categorie[nom_cat]': {
                        required: "Veuillez renseigner la catégorie .",
                        minlength: "Champ au moins 5 caractères.",
                        maxlength: "Champ  au plus 50 caractères."
                    },


                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                    // Add the `invalid-feedback` class to the error element
                    error.addClass( "invalid-feedback" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.next( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
                }
            } );

        } );
    </script>

{% endblock %}