{% extends 'base.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}
    {% if utilisateurs %}

        <div class="row">
        <div class="col-lg-12">
        <div class="card card-outline" >
        <div class="card-header border  bglightblue">
            <h3 class="card-title">
                <i class="fas fa-list"></i>
                Liste des fournisseurs
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="maximize"><i class="fas fa-expand"></i>
                </button>
            </div>
        </div>

        <div class="card-body table-responsive " id="utilisateurs">
             <table id="exemple4" class="table table-bordered table-hover table-striped display">
            <thead class="table-info">
            <tr class="text-dark">
                <th>Société</th>
                <th>Matricule Fiscale</th>
                <th>Gérant</th>
                <th>Activié</th>
                <th>Adresse</th>
                {#  <th>Role</th>#}
                <th>Tel</th>
                <th>Email</th>
                <th>Etat de compte</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
                {% for unrole in utilisateur.roles %}

                    {% if unrole == 'ROLE_FOURNISSEUR' %}

                        <tr>
                            <td>{{ utilisateur.nomste }}</td>
                            <td>{{ utilisateur.mfste }}</td>
                            <td>{{ utilisateur.gerantste }}</td>
                            <td>{{ utilisateur.activiteste }}</td>
                            <td>{{ utilisateur.adresse }}</td>
                            <td>{{ utilisateur.tel }}</td>
                            <td>{{ utilisateur.email }}</td>

                            {% if utilisateur.isActive==1 %}
                                <td class="text-success">Actif</td>
                            {% else %}
                                <td class="text-warning">Inactif</td>
                            {% endif %}

                            <td>


                                <a class="btn btn-default btn-sm px-2  text-blue"
                                   href="{{ path('profile', {'action':2,'id': (utilisateur.id)| encode}) }}"
                                   data-toggle="tooltip" data-placement="top" title="Détail">
                                    <i class="fas fa-search-plus"></i>
                                </a>


                                <a class="btn btn-default btn-sm px-2  text-blue"
                                   href="{{ path('edit_fournisseur', {'action':2| encode, 'id': (utilisateur.id)| encode}) }}"
                                   data-toggle="tooltip" data-placement="top" title="Modifier">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>



                                <form method="post" style="display: inline-block "
                                      action="{{ path('edit_fournisseur', {'action':2| encode, 'id': (utilisateur.id)| encode}) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                                    <button data-toggle="tooltip" data-placement="top"
                                            title="Supprimer" class="btn btn-default btn-sm px-2 text-blue">
                                        <i class="fas fa-trash mt-0"></i></button>

                                </form>

                                {% if utilisateur.isActive==1 %}

                                    <a class="btn btn-default btn-sm px-2  text-blue"
                                       href="{{ path('desactiveruser', {'action':1, 'id': (utilisateur.id)| encode}) }}"
                                       data-toggle="tooltip" data-placement="top" title="Déactiver">
                                        <i class="m-r-10 mdi mdi-account-off"></i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-default btn-sm px-2  text-blue"
                                       href="{{ path('activeruser', {'action':1, 'id': (utilisateur.id)| encode}) }}"
                                       data-toggle="tooltip" data-placement="top" title="Activer">
                                        <i class="m-r-10 mdi mdi-account-check"></i>
                                    </a>

                                {% endif %}
                           </td>

                        </tr>
                    {% endif %}

                {% endfor %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr id="filters">

                <th></th>
                <th></th>
                <th></th>
                {#   <th></th>#}
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            </tfoot>
        </table>

    {% else %}
        <div align="center">Pas de fournisseur</div>
    {% endif %}
    </div>

    </div>
    <div class="col-md-2">

        <a href="/fournisseur/new" class="btn btn-outline-primary  ">
            <i class="fa fa-plus-square"></i> Ajouter</a>
    </div>
    </div>
    </div>
    </div><!--/.row-->


    </div>


{% endblock %}
