{% extends 'base.html.twig' %}

{% block title %}Affecter Magasinier {% endblock %}

{% block body %}



    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- COLOR PALETTE -->
            <div class="card card-default color-palette-box bgpowderblue  ">
                <div class="card-header border  bgdarkseagreen">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        Gestion des Magasiniers
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-widget="maximize"><i
                                    class="fas fa-expand"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="maximize"><i class="fas fa-expand"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="card  card-outline">
                                <div class="card-header border  bglightblue">
                                    <h3 class="card-title">
                                        <i class="fas fa-list"></i>
                                        Affecter Magasinier

                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="maximize"><i
                                                    class="fas fa-expand"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div> <!-- /.card-body -->
                                <div class="card-body">


                                    {{ form_start(form, {'attr': {'novalidate': 'novalidate','class' : 'form-group form-horizontal', 'id':'affmagasinier' }}) }}

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_row(form.user, {'label' : 'Magasinier', 'attr' : {'class' : 'form-control select2','style':'width: 100%;'}}) }}
                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="form-group">
                                                {{ form_row(form.magasin, {'label' : 'Magasin', 'attr' : {'class' : 'form-control select2','style':'width: 100%;'}}) }}
                                            </div>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="form-group">
                                                {{ form_row(form.anneeScolaire, {'label' : 'Année Scolaire', 'attr' : {'class' : 'form-control select2','style':'width: 100%;'}}) }}
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-1">

                                        <div class="form-group">
                                            <button type="submit" class="btn  btn-outline-success "><i
                                                        class="fa fa-save"></i> Enregistrer
                                            </button>

                                        </div>


                                    </div>
                                    {{ form_end(form) }}


                                </div><!-- /.card-body -->
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    <!-- /.content -->

                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="card card-outline  ">
                                <div class="card-header border-0 bgmoccasin">
                                    <h3 class="card-title">
                                        <i class="fas fa-edit"></i>
                                        Liste des Magasiniers

                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="maximize"><i
                                                    class="fas fa-expand"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div> <!-- /.card-body -->
                                <div class="card-body">


                                    {% if affmagasinier %}

                                    <div class="table-responsive mx-auto col-12  " id="affmagasiniers">


                                        <table id="exemple4"
                                               class="table table-bordered table-hover table-striped display ">
                                            <thead class="table-info">
                                            <tr class="text-dark">
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Email</th>
                                                <th>Date d'affectation</th>
                                                <th>Région</th>
                                                <th>Magasin</th>
                                                <th>Adresse</th>
                                                <th>Année</th>

                                                <th class="row justify-content-center align-items-center">Action</th>

                                            </tr>

                                            </thead>
                                            <tbody>
                                            {% for magasin in affmagasinier %}

                                                <tr>
                                                    <td>{{ magasin.user.nom }}</td>
                                                    <td>{{ magasin.user.prenom }}</td>
                                                    <td>{{ magasin.user.email }}</td>
                                                    <td>{{ magasin.date|date("d/m/Y") }}</td>
                                                    <td>{{ magasin.magasin.region.designation }}</td>
                                                    <td>{{ magasin.magasin.designation }}</td>
                                                    <td>{{ magasin.magasin.adresse }}</td>

                                                    <td>{{ magasin.anneeScolaire.designation }}
                                                        --{{ magasin.anneeScolaire.designation +1 }}</td>

                                                    <td>

                                                        <a class="btn btn-default btn-sm px-2 text-blue"
                                                           href={{ path('affectermagasinier', {'action':1| encode, 'id':(magasin.id)| encode}) }} data-toggle="tooltip"
                                                           data-placement="top" title="Modifier">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>

                                                        <form method="post" style="display: inline-block "
                                                              action="{{ path('affectermagasinier', {'action':2| encode, 'id': (magasin.id)| encode}) }}"
                                                              onsubmit="return confirm('Voulez-vous vraiment supprimer ?')">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token"
                                                                   value="{{ csrf_token('delete' ~ magasin.id) }}">
                                                            <button data-toggle="tooltip" data-placement="top"
                                                                    title="Supprimer"
                                                                    class="btn btn-default btn-sm px-2 text-blue">
                                                                <i class="fas fa-trash mt-0"></i></button>

                                                        </form>
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr id="filters">
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>


                                            </tfoot>
                                        </table>

                                        {% else %}
                                            <div class="callout callout-info">
                                                <h5><i class="fas fa-info"></i> Note:</h5>
                                                Pas d'enregistrement.
                                            </div>
                                        {% endif %}
                                    </div>


                                </div><!-- /.card-body -->
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    <!-- /.content -->

                </div>


            </div>
            <!-- /.card-body -->
        </div>
    </section>








{% endblock %}


{% block javascripts %}


    <script src="../../plugins/jquery/jquery.validate.js"></script>

    <script type="text/javascript">
        /*    $.validator.setDefaults( {
                submitHandler: function () {
                    alert( "submitted!" );
                }
            } );*/


        $(document).ready(function () {
            $("#affmagasinier").validate({


                rules: {
                    'affecter_magasinier[user]': {
                        required: true,
                        // maxlength: 50,
                        //minlength: 3,


                    },

                    'affecter_magasinier[magasin]': {
                        required: true,
                        // maxlength: 50,
                        //minlength: 5,


                    },

                    'affecter_magasinier[anneeScolaire]': {
                        required: true,

                    },


                },
                messages: {
                    'affecter_magasinier[user]': {
                        required: "Veuillez renseigner le magasinier .",

                    },


                    'affecter_magasinier[magasin]': {
                        required: "Veuillez renseigner le magasin .",
                    },
                    'affecter_magasinier[anneeScolaire]': {
                        required: "Veuillez renseigner l\'année scolaire' .",
                    },
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    // Add the `invalid-feedback` class to the error element
                    error.addClass("invalid-feedback");

                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.next("label"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass("is-invalid").removeClass("is-valid");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).addClass("is-valid").removeClass("is-invalid");
                }
            });

        });
    </script>


{% endblock %}